/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
       #wrapper {
        margin:0 auto;
        max-width:1200px;
        padding:3rem 0 5rem;
        width:90%;
        }
        
        .rssFeed {
        -webkit-perspective:1;
        column-fill:balance;
        column-gap:5rem;
        margin:0;
        padding:0;
        }
        
        .entryWrapper {
        background-color:#29b6f6;
        border-radius:1px;
        display:inline-block;
        margin-bottom:5rem;
        position:relative;
        vertical-align:top;
        width:100%;
        }
        
        .entryImage img {
        border-radius:1px 1px 0 0;
        display:block;
        filter:grayscale(50%);
        height:auto;
        max-width:100%;
        width:100%;
        }
        
        .entryTitle h4 {
        font-size:2rem;
        line-height:1.2;
        margin-bottom:.625rem;
        }
        
        .entryTitle h4 a {
        color:#fff;
        text-decoration:none;
        transition:color 200ms ease-in-out;
        }
        
        .entryTitle h4 a:hover {
        color:rgba(255,255,255,.7);
        }
        
        .entryTitle h4 a::after {
        content:"\02197";
        margin-left:.5rem;
        }
        
        .entryDate {
        background-color:#ff9800;
        color: #ffff;
        font-size:1rem;
        position:absolute;
        top:0;
        right:0px;
        padding:.25rem .5rem;
        border-radius:0 0 0 1px;
        }
        
        .entryText {
        border-top:3px solid #00371d;
        padding:1rem;
        color: #ffffff;  
        }
        
        @media only screen and (min-width:480px) {
            .rssFeed {
            column-count:1;
            }
        }
        
        @media only screen and (min-width:700px) {
            .rssFeed {
            column-count:2;
            }
        }
        
        @media only screen and (min-width:900px) {
            .rssFeed {
            column-count:2;
            }
        }
        
        @media only screen and (min-width:1300px) {
            .rssFeed {
            column-count:3;
            }
        }
